* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  background: burlywood;
  height: 200px;
}

.header h1 {
  padding: 30px;
  font-family: "Merriweather", serif;
  font-size: 3em;
}

.header p {
  width: 70%;
  margin: auto;
  font-family: "Nunito", sans-serif;
}

.photo img {
  width: 100%;
  filter: brightness(70%);
}

footer p {
  font-size: 1.5em;
}
